<section class="modal-container" *ngIf="config?.open">
  <header class="modal-header">
    <h2>{{ config?.title }}</h2>
    <img
      src="../../../../assets/icons/close.svg"
      alt="close"
      (click)="closeModal()"
    />
  </header>
  <form class="modal-form">
    <div class="modal-form-group" *ngFor="let item of config?.configInputs">
      <label [for]="item.title">{{ item.title }}:</label>
      <input
        [type]="item.type"
        [name]="item.title"
        [id]="item.title"
        [placeholder]="'Insert ' + item.title"
        [(ngModel)]="data[item.title]"
      />
    </div>
  </form>
  <footer class="modal-footer">
    <button (click)="clickEventHandler()" class="btn-confirm">Confirm</button>
    <button (click)="closeModal()" class="btn-cancel">Cancel</button>
  </footer>
</section>
