<section class="modal-container">
  <header class="modal-header">
    <h2>Title</h2>
    <img src="../../../../assets/icons/close.svg" alt="close" />
  </header>
  <form class="modal-form">
    <div class="modal-form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder="Insert name:" />
    </div>
  </form>
  <footer class="modal-footer">
    <button class="btn-confirm">Confirm</button>
    <button class="btn-cancel">Cancel</button>
  </footer>
</section>
