.login-container {
  padding: 5% 20px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #d3d3d3, #6e6e6e);
}

.form-box {
  width: 90%;
  height: 100%;
  max-width: 400px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 250px;
}

.form-item {
  position: relative;
  padding: 15px 0 0;
  margin-top: 3%;
  width: 100%;

  .form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--dark);
    font-size: 1.3em;
    color: var(--dark);
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 2%;

    &::placeholder {
      color: #9e9e9e;
    }

    &:placeholder-shown ~ .form-label {
      font-size: 1em;
      cursor: text;
      top: 15px;
    }
  }

  .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: var(--secondary);
  }

  .form-field:focus {
    ~ .form-label {
      position: absolute;
      top: -10px;
      display: block;
      transition: 0.2s;
      font-size: 1em;
      color: var(--danger);
      font-weight: 700;
    }
    padding-bottom: 7px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--danger), #741720);
    border-image-slice: 1;
  }

  /* reset input */
  .form-field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}

.forgot-password {
  margin-top: 5%;
  width: 100%;
  text-align: right;
  color: var(--danger);
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #5a1118;
  }
}

.btn-sign-in {
  margin: 10% 0;
  width: 100%;
  padding: 13px 20px;
  background-color: var(--danger);
  color: var(--color-light);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 1px 2px 7px 2px #333333;
  cursor: pointer;
  &:hover {
    background-color: #5a1118;
  }
}

.sign-up {
  color: var(--dark);
  a {
    width: 100%;
    text-align: right;
    color: var(--danger);
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #5a1118;
    }
  }
}
