<section class="login-container">
  <form class="form-box">
    <img
      class="logo"
      src="../../../assets/images/logo-angular.png"
      alt="logo"
    />

    <div class="form-item">
      <input type="text" class="form-field" name="email" id="email" required />
      <label for="email" class="form-label">Email address:</label>
    </div>

    <div class="form-item">
      <input
        type="password"
        class="form-field"
        name="password"
        id="password"
        required
      />
      <label for="password" class="form-label">Password:</label>
    </div>

    <a class="forgot-password">Forgot Password?</a>

    <button routerLink="/users" class="btn-sign-in">Sign in</button>

    <p class="sign-up">
      Don't have an account yet?
      <a> register here</a>
    </p>
  </form>
</section>
