<section class="container">
  <header class="content-header">
    <h2>Users list</h2>
    <button [routerLink]="['/user', 'register', 0]" class="btn-default">
      Create User
    </button>
  </header>
  <div class="table">
    <table id="dataTable">
      <thead class="table-thead">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>City</th>
          <th>Active?</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody class="table-tbody">
        <tr *ngFor="let user of usersData">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.active ? "Yes" : "no" }}</td>
          <td>
            <button
              [routerLink]="['/user', 'visualize', 0]"
              class="btn-visualize"
            >
              Visualize
            </button>
            <button [routerLink]="['/user', 'edit', 0]" class="btn-edit">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-box">
    <button class="btn-model" (click)="openModal()">Open modal</button>
    <button class="btn-model" (click)="openLoader()">Open loader</button>
    <button class="btn-model" (click)="openToast()">Open toast</button>
  </div>
</section>

<!-- MODAL -->
<app-modal
  [config]="configModal"
  (dataResult)="handlerResultModal($event)"
></app-modal>

<!-- LOADER -->
<app-loader [hidden]="!loader"></app-loader>

<!-- TOAST -->
<app-toast [configToast]="toastConfig"></app-toast>
